<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update {{hero.superhero_name}}</title>
</head>
<body>
<h1>Edit {{hero.superhero_name}}</h1>
<form action="{% url 'Superhero:edit' hero.id %}" method="post">
    {% csrf_token %}
    Super Hero Name: <input type="text" name="superhero_name" id="superhero_name" value="{{hero.superhero_name}}"><br>
    Alter Ego Name: <input type="text" name="alter_ego_name" id="alter_ego_name" value="{{hero.alter_ego_name}}"><br>
    Primary Ability: <input type="text" name="primary_ability" id="primary_ability" value="{{hero.primary_ability}}"><br>
    Secondary Ability: <input type="text" name="secondary_ability" id="secondary_ability" value="{{hero.secondary_ability}}"><br>
    Catchphrase: <input type="text" name="catchphrase" id="catchphrase" value="{{hero.catchphrase}}"><br>
    <input type="submit" value="Update">
</form>
</body>
</html>